h1{
    font-family: 'Permanent Marker';
    text-align: center;
  }

.art{
    margin: auto;
}

td{
    height: 200px;
    padding: 100px;
    border: 6px solid white;
}

#one{
    background-color: #264653;
}

#two{
    background-color: #2a9d8f;
}

#three{
    background-color: #e9c46a;
}

#four{
    background-color: #f4a261;
}

#five{
    background-color: #e76f51;
}